
<!--------------------------------------- HEADER ----------------------------------------------------->

<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <nav class="navbar navbar-expand-md bg-light navbar-light fixed-top">
    <div class="container">
      <a class="navbar-brand text-uppercase fw-bold" href="/index.html">
        <span id="logoflights" class=" bg-gradient p-1 rounded-3 text-light">Flights</span> Time
      </a>
      <div id="slogan"> Vos statistiques sur les vols USA </div>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" aria-current="page" routerLink="Acceuil" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Acceuil</a>
          <a class="nav-link" routerLink="Companies" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Companies</a>
          <a class="nav-link" routerLink="Aéroport" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Aéroport</a>
          <a class="nav-link" routerLink="Temps" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Temps</a>
          <a class="nav-link" routerLink="Capacity" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Capacity</a>
          <a class="nav-link" routerLink="Causes" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Causes</a>
          <a class="nav-link" routerLink="Prediction" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Prédiction</a>

        </div>
      </div>
    </div>
  </nav>
</nav>

<!--------------------------------------- HEADER ----------------------------------------------------->
