h3,h5{
  text-align: center;
}


#titreStat{
  justify-items: center;
  margin-top: 5%;
  margin-bottom: 1%;
  font-weight: bold;
  font-size: x-large;
  color: #4c4e4e;
}

button[type="submit"]{
  background-color: #5db5b9;
  color: white;
  margin-left: 80%;
  margin-bottom: 2%;
}

button[type="submit"]:hover {
  background-color: #c3d1da;
}
.seeStat{
  background-color: #5db5b9;
  color: white;
}

.seeStat:hover{
  background-color: #c3d1da;
}
.close{
  margin-left: 95%;
}

canvas{
  margin: 2%;
}

.card{
  font-size: small;


}

h5{
  font-size: medium;
}

.seeStat{
  margin-left: 45%;
}
